<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
    {{! ADD IN FAVICON HERE }}
  </head>
  <body class="background">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand brand1" href="#">
          <img
            class="logo"
            src="/icons/littleSiteOfHorrorsLogo.svg"
            alt="Bootstrap"
          /></a>
        <button
          class="navbar-toggler custom-nav-hamburger"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="custom-nav-link" aria-current="page" href="/">Search</a>
            </li>
            <li class="nav-item">
              <a class="custom-nav-link" href="/profile">Profile</a>
            </li>
            <a class="navbar-brand brand2" href="/">
              <img
                class="logo"
                src="/icons/littleSiteOfHorrorsLogo.svg"
                alt="Bootstrap"
              /></a>
            <li class="nav-item">
              <a class="custom-nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="custom-nav-link" href="#">Discussion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <footer class="container">
        <div class="row p-4">
          <div class="d-flex justify-content-between col-12">
            <div class="col-lg-4 col-md-6 mb-4">
              <h3 class="mb-1">About Us</h3>
              <p>Little Site of Horrors was created to delight observers of Spooky Season, young and old. 💀 By providing users with a database of scary, and not so-scary, movies to watch in October (or anytime the need arises) we're hoping everyday can be a little bit spookier!</p>
            </div>
            <div>
              <img src="/icons/littleSiteOfHorrorsLogo.svg" alt="logo" class="footer-brand">
              <p>&copy; 2023, Little Site of Horrors</p>
            </div>
          </div>
        </div>
        
      </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>