<main class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 d-flex align-items-center">
      <div class="card custom-all-movies-card">
        <div class="card-body align-items-center">
          <a href="/movies">
            <button class="btn custom-all-movies-button">
              See All Movies
            </button></a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <div id="carouselExample" class="carousel slide ">
        <div class="carousel-inner" id="carouselEl">
          {{!-- <div class="carousel-item active">
            <img src="https://m.media-amazon.com/images/M/MV5BZDQzMmIxYTItOTJkMi00YzU1LWJkNGEtYWE1NjhiNWU5YmNkXkEyXkFqcGdeQXVyNjc5NjEzNA._V1_SX300.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{poster_url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/M/MV5BYTllYWY5ZDYtZjExYy00ZTY5LTk2OWEtMTQ3NTdlNzE5NjcyXkEyXkFqcGdeQXVyMTUzMDUzNTI3._V1_SX300.jpg" class="d-block w-100" alt="...">
          </div> --}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</main>