<main class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 d-flex align-items-center">
      <div class="card custom-all-movies-card">
        <div class="card-body align-items-center">
          <a href="/movies">
            <button class="btn custom-all-movies-button">
              See All Movies
            </button></a>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-lg-6">
      <div id="carouselExample" class="carousel slide carouselSize ">
        <div class="carousel-inner ">


          {{#each randomMovies}}
          <div class="carousel-item {{#if @first}} active{{/if}}" id="activePoster">
            <a href="/movies/{{movie_id}}">
              <img src="{{poster_url}}" class="d-block w-100" alt="movie poster"></a>
          </div>
          {{/each}}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" id="previousBtn">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" id="nextBtn">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
        <button id="runaway-btn">👻</button>     
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/homepage.js"></script>
<script src="anime.min.js"></script>