 <main
      class="form-signin py-4 w-100 m-auto container d-flex align-items-center"
    >
      <div class="row">
        <form>
          <h1 class="h3 mb-3 fw-normal text-white">Please Sign In</h1>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <br />
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <div class="form-check text-start my-3">
            <input
              class="form-check-input"
              type="checkbox"
              value="remember-me"
              id="flexCheckDefault"
            />
            <label class="form-check-label text-white" for="flexCheckDefault">
              Remember me
            </label>
          </div>

          <button
            class="d-flex btn btn-log text-white w-100 py-2"
            type="submit"
          >
            Login
          </button>
          <br />
          <a href="/create">
          <button
            class="d-flex btn btn-log1 text-white w-100 py-2"
            type="button"
          >
            Create Account
          </button></a>
          <p class="mt-5 mb-3 text-white">Little Site of Horrors &copy; 2023</p>
        </form>
      </div>
    </main>
