<main class="form-signin py-4 w-100 m-auto container d-flex align-items-center">
  <div
    class="modal fade"
    id="passwordModal"
    tabindex="-1"
    aria-labelledby="passwordModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="passwordModal">Try Again</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Password must be six or more characters. Please try again.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form action="/api/users/create" method="POST">
      <h1 class="h3 mb-3 fw-normal">Create Account</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control textUpdate"
          id="floatingName"
          placeholder="user name"
          name="name"
        />
        <label for="floatingInput">User Name</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          type="text"
          class="form-control textUpdate"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
        />
        <label for="floatingPassword">Email</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          type="password"
          class="form-control textUpdate"
          id="floatingPassword"
          placeholder="Password"
          name="password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <br />
      <button class="btn btn-log1 text-white w-100 py-2" type="submit" id="registrationForm">
        Create Account
      </button>
      <p class="mt-5 mb-3 text-white">Little Site of Horrors &copy; 2023</p>
    </form>

  </div>
  <br />
</main>
