
<div class=“movies”>
  {{#each posterData}}
  <article class=“card”>
    <div class=“card-header flex-row justify-space-between”>
      <h2>
      <a href=“/movies/{{movie_id}}“><img src=“{{poster_url}}” alt=“”></a>
      </h2>
    </div>
  </article>
  {{/each}}
</div>