{{! Profile image
info card
prompt card with 3 sections 
top 5 sortable list 
carousel }}

<main class="container">
  <div class="row">
    <div class="d-flex col-12 col-md-2">
      <img class="user-image" src="" alt="User Image">
    </div>
  </div>
</main>